/* algemeen -------------------------------------------------------*/
.menubar{
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 15%;
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    text-align: center;
    font-size: 2vh;
}

.menubar button{
    background-color: rgba(0, 0, 0, 0);
    width: 10%;
    height: 50%;
    position: relative;
    top: 25%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    color: rgba(0, 48, 130, 1);
    cursor: pointer;
    font-weight: bold;
    font-size: 2vh;
}

.menubar .nslogo{
    background-color: rgba(0, 0, 0, 0);
    background-image: url("./icons/NS_logo.png");
    background-repeat: no-repeat;
    background-size:contain;
    width: 10%;
    height: 30%;
    position: absolute;
    top: 40%;
    left: 5%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    cursor: pointer;
    font-size: 2vh;
}

.info{
    background-color: rgba(230, 230, 233, 1);
    width: 100%;
    height: 0%;
    position: fixed;
    top: 15%;
    left: 0%;
    border-radius: none;
    z-index: 2;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
    transition: height 1s;
}

.privacy{
    background-color: rgba(230, 230, 233, 1);
    width: 100%;
    height: 0%;
    position: fixed;
    top: 15%;
    left: 0%;
    border-radius: none;
    z-index: 2;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
    transition: height 1s;
}

.contact{
    background-color: rgba(230, 230, 233, 1);
    width: 100%;
    height: 0%;
    position: fixed;
    top: 15%;
    left: 0%;
    border-radius: none;
    z-index: 2;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
    transition: height 1s;
}

.disclaimer{
    background-color: rgba(230, 230, 233, 1);
    width: 100%;
    height: 0%;
    position: fixed;
    top: 15%;
    left: 0%;
    border-radius: none;
    z-index: 2;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
    transition: height 1s;
}

.closebar{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 10%;
    position: absolute;
    top: 90%;
    left: 0%;
    border-radius: none;
    z-index: 2;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
}

.closebar button{
    background-color: rgb(194, 81, 33);
    width: 20%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 40%;
    border-radius: 3vh;
    z-index: 2;
    overflow: hidden;
    border: 2px solid black;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
}
/* input zuil -------------------------------------------------------*/

.div_zuil{
    background-color: rgba(230, 230, 233, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
}
.div_zuil .bg_image{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    background-image: url("./photos/station_BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    font-size: 2vh;
    }

.div_zuil .formdiv{
    background-color: rgba(255, 201, 23, 1);
    width: 100%;
    height: 50%;
    position: fixed;
    left: 0%;
    top: 30%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
}

.div_zuil .input_feedback{
    background-color: rgba(255, 255, 255, 1);
    width: 40%;
    height: 60%;
    position: absolute;
    left: 7.5%;
    top: 20%;
    border-radius: 0.5vh;
    z-index: 1;
    overflow: hidden;
    border: solid rgba(255, 255, 255, 1) 2px;
    outline: none;
    padding: none;
    margin: 0px;
    resize: none;
    font-size: 2vh;
}

.div_zuil .input_feedback:hover{
    border: solid rgba(0, 92, 160, 1) 2px;
}

.div_zuil .input_naam_box{
    background-color: rgba(255, 255, 255, 1);
    width: 40%;
    height: 20%;
    position: absolute;
    left: 52.5%;
    top: 20%;
    border-radius: 0.5vh;
    z-index: 1;
    overflow: hidden;
    border: solid rgba(255, 255, 255, 1) 2px;
    outline: none;
    padding: none;
    margin: 0px;
    resize: none;
    font-size: 2vh;
}

.div_zuil .input_naam{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 0.5vh;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    resize: none;
    font-size: 2vh;
}

.div_zuil .input_naam_box:hover{
    border: solid rgba(0, 92, 160, 1) 2px;
}

.div_zuil .date_time{
    background-color: rgba(255, 255, 255, 1);
    width: 40%;
    height: 20%;
    position: absolute;
    left: 52.5%;
    top: 45%;
    border-radius: 0.5vh;
    z-index: 1;
    overflow: hidden;
    border: solid rgba(255, 255, 255, 1) 2px;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
}

.div_zuil .input_enter_overlay{
    background-color: rgba(0, 0, 0, 0);
    width: 40%;
    height: 10%;
    position: absolute;
    left: 52.5%;
    top: 70%;
    border-radius: 0.5vh;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    color: white;
    cursor: pointer;
    font-size: 2vh;
}

.div_zuil .input_enter{
    background-color: rgba(0, 99, 211, 1);
    width: 40%;
    height: 10%;
    position: absolute;
    left: 52.5%;
    top: 70%;
    border-radius: 0.5vh;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    border-bottom: solid rgba(0, 92, 160, 1) 0.3vh;
    font-size: 2vh;
}

.div_zuil .input_enter_back{
    background-color: rgba(0, 92, 160, 1);
    width: 40%;
    height: 0%;
    position: absolute;
    left: 52.5%;
    bottom: 20%;
    border-radius: 0.5vh;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    transition: height 0.2s;
    font-size: 2vh;
}

/* moderatie -------------------------------------------------------*/
.div_mod{
    background-color: rgba(230, 230, 233, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
}

.div_mod .worddiv{
    background-color: rgba(255, 201, 23, 1);
    width: 100%;
    height: 50%;
    position: fixed;
    left: 0%;
    top: 30%;
    border-radius: none;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
}

.div_mod .berichtbubbel{
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    height: 40%;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 2vh;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
}

.div_mod .keuring_button_div{
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    height: 20%;
    position: absolute;
    left: 10%;
    top: 55%;
    border-radius: 2vh;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin: 0px;
    font-size: 2vh;
    text-align: center;
}

.div_mod .keuring_button_div button{
    background-color: rgb(180, 30, 30);
    width: 20%;
    height: 100%;
    position: relative;
    border-radius: 2vh;
    z-index: 1;
    overflow: hidden;
    border: none;
    outline: none;
    padding: none;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vh;
    color: white;
}


/* scherm -------------------------------------------------------*/